


*{
    box-sizing: border-box;
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.debug{
    border: dashed black;
}
img{
    max-width: 100%;
}
.flex{
    display: flex;
}
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 450px;
}
nav{
    color: black;
    justify-content: space-between;
    display: block;
}
.small-nav{
    width: 25%;
    padding: 10px;
    margin-top: 15px;
    align-items: center;
}
.big-nav{
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}
h1{
    margin-bottom: 40px;
}
.l-height{
    line-height: 25px;
}
.last-section-nav{
    justify-content: flex-end;
}

.marg-top{
    margin-top: 20px;
}
.marg-top-bot{
    margin-top: 30px;
    margin-bottom: 30px;
}
.small-button{
    font-size: 15px;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    border: transparent;
}
.b-white-button{
    background-color: white;
    font-size: 13px;
    padding: 13px;
    border-radius: 20px;
    border: transparent;
}
.b-black-button{
    background-color: #23272A;
    color: white;
    font-size: 13px;
    padding: 13px;
    border-radius: 20px;
    border: transparent;

}
.second-header{
    height: 83%;
    margin-top: 15px;
    justify-content: center;
}
.block{
    height: 80%;
    width: 800px;
    margin: auto;
    color: white;
    text-align: center;
}
.block-b-white{
    height: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-section{
    height: 80%;
    margin-top: -55px;
}
.image{
    width: 70%;
    height: 90%;
    margin-top: 0;

}



.text{
    width: 30%;
}
.big-font{
    font-size: 46px;
}
.block-b-gray{
    height: 550px;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-b-gray-big{
    height: 700px;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    text-align: center;
}
.back-star{
    background-image: url(../img/stars.svg);
    background-size: cover;
}
.button-blue{
    background-color: #8EA1E1;
    color: white;
    font-size: 13px;
    padding: 13px;
    border-radius: 20px;
    border: transparent;
}
.smaller{
    height: 55%;
}
.block-b-black{
    height: 430px;
    background-color: #23272A;
    display: flex;
    padding-top: 5px;
}
.pink-2{
    width: 30%;
    height: 100%;
    background-color: #F08080;
}
.lightblue{
    width:calc(70% / 4);
    height: 100%;
    background-color: #1E90FF;
    border: dashed white;
}
footer{
    height: 150px;
    background-color: #23272A;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: flex-end;
}
.foot{
    background-color: #7FFFD4;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}




